$list_titles_color: #9C9C9C;
$main_color: #6A0808;
$secondry_color: #B50D0D;
$thirdry_color: #231F33;

.add_edit_reservation {
    background-color: #F7FAFC;
    padding: 1.5rem;

    ol {
        li {
            display: flex;
            align-items: center;
            gap: 15px;
            color: $list_titles_color;
            font-weight: 500;
            transition: all 0.2s;
            cursor: pointer;

            &:hover {
                color: $thirdry_color;

                .step_number {
                    color: $thirdry_color;
                    border: 2px solid $thirdry_color;
                }
            }

            .step_number {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid $list_titles_color;
                padding: 12px;
            }

        }

        hr {
            width: calc(100% / 7);
            height: 3px;
            background: $list_titles_color;
            border: none;
            border-radius: 8px;
        }

        .finish_step {
            background: linear-gradient(to left, $secondry_color 50%, $list_titles_color 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            animation: animateLine 1.5s reverse;
        }

        @keyframes animateLine {
            0% {
                background-position: right bottom;
            }

            100% {
                background-position: left bottom;
            }
        }

    }
}

.active {
    color: $thirdry_color !important;

    .step_number {
        border-color: $thirdry_color !important;
    }
}

.steps_content {
    background-color: #e9eaeb;
    padding: 2rem;
    box-shadow: 0px 4px 20px 0px #EEEEEE80;
    border-radius: 20px;
    width: 97%;
    margin: 20px auto;

    table {
        
        td {
            width: calc(100% / 7);

            input , select {
                width: 100%;
            }

            .delete_btn {
                background-color: #F9F9F9;
                border: none;
                border-radius: 12px;
                width: 100px;
                height: 40px;
                transition: 0.3s;

                i {
                    color: #dd1e1e;
                    transition: 0.3s;
                }

                &:hover {
                    background-color: #B50D0D;
                    transition: 0.3s;

                    i {
                        color: white;
                        transition: 0.3s;
                    }
                }
            }
        }
    }

}

.step_title {
    color: $secondry_color;
    font-size: 1.375rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.users_display {
    background-color: rgba(128, 128, 128, 0.329);
    border-radius: 12px;
    color: $thirdry_color;
    width: 450px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;

    button {
        background-color: #325891;
        color: white;
        border-radius: 12px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: #2f4385;
            color: white;
        }
    }
}


/////////////////////////////////////////////////////////////////// step_2

select {
    width: 300px;
    height: 52px;
}

.users {
    select {
        height: unset;
    }
}

.step_3 , .step_4 {
    input[type="date"] , input[type="number"] {
        width: 300px;
        padding: 0.875rem;
    }
}

// step 3

.valid_alert {
    position: absolute;
    top: 100%;
    right: 0;
    color: red;
    margin-top: 5px;
    font-size: 14px;
}