*{
    font-weight: 700 !important;

}

form{
  font-size: 18px !important;  
} 

// @source "../node_modules/flowbite-datepicker";
.card-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 100px;
    // height: 75px;
    border: 2px solid transparent;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    // padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    // background-color: #dedede;
    font-size: 16px !important;
  }
  
  .card img {
    width: 100%;
    // height: 50px;
    padding-top: 10px;
    object-fit: cover;
    margin: 0 auto;
  }
  
  .card.selected {

    // border-color: #6A0808;
    // box-shadow: 0 0 10px #6A0808;
    background-color: #d8d8d8;

    // background-color: #fcecec;
  }
  

  input:disabled{
    background-color: #ececec;
  }

  ::placeholder{
    color: #b6b6b6 !important;
  }

  .add-hotel-btn {
    border-radius: 12px;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    color: white;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8125rem;

    &:disabled{
        background-color: #949494;
    }
}