input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
}



/* styles.scss أو global styles */
.input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5;
}

.buttons {
  @apply bg-blue-600 text-white rounded-lg px-4 py-2 hover:bg-blue-700 transition;
}



body {
  direction: rtl;
  font-family: 'Harir', sans-serif;
  background: radial-gradient(circle, #E1E1E133 20%, #7B7B7B66 80%);
  height: 100vh;
  /* ليغطي الشاشة بالكامل */
  margin: 0;
}





.buttons {
  background: linear-gradient(to right, #B50D0D, #6A0808);
  color: white;
  padding: 10px 30px;
  width: 24rem;
  margin-top: 50px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(180, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.buttons:hover {
  box-shadow: 0 10px 25px rgba(180, 0, 0, 0.6);
  transition: all 1s;
}

#about-us-button {
  position: absolute;
  top: 24px;
  /* top-6 */
  right: 24px;
  /* right-6 */
  cursor: pointer;
  background-color: #6A0808;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  /* gap-2 */
  padding: 8px 16px;
  /* py-2 px-4 */
  transition: 0.3s ease;

  &:hover {
    background-color: #8a0a0a;
    /* درجة أفتح شوية */
    transform: translateY(-3px);
    /* يطلع لفوق سنة */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    /* شادو ناعم */
  }
}

