.all_reservations_table {
    background-color: #ffffff;
    box-shadow: 0px 4px 20px 0px #EEEEEE80;
    border-radius: 20px;
    padding:2rem 1rem;
    margin: 2rem 0;
}

.no_reservations {
    height: 300px;
    margin-top: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 12px;
    justify-content: center;
}