<div class="all_table relative  overflow-x-auto">

    <div class="max-w-md mx-6 mb-10">
        <h5 class="font-semibold text-[1.5rem]">تعديل بيانات المشرف</h5>

    </div>
    @if (!adding_done) {
    <div class="w-full text-sm text-left rtl:text-right">
        <form [formGroup]="adminForm" class="p-4 md:p-5">
            <div class="grid gap-4 gap-x-10 py-8 px-4 mb-4 grid-cols-2">

                <!-- First Name -->
                <div class="lg:col-span-1 md:col-span-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">الاسم الاول</label>
                    <input type="text" formControlName="firstName" maxlength="20"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full px-2.5 py-4 bg-gray-50/50 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                        placeholder="ادخل الاسم الاول">
                    @if (adminForm.get('firstName')?.touched && adminForm.get('firstName')?.invalid) {
                    @if (adminForm.get('firstName')?.errors?.['required']) {
                    <span class="px-2 text-xs text-red-600 mt-1 block">هذا الحقل مطلوب*</span>
                    }
                    @if (adminForm.get('firstName')?.errors?.['maxlength']) {
                    <span class="px-2 text-xs text-red-600 mt-1 block">يجب أن يكون الاسم صالحاً</span>
                    }
                    }
                </div>

                <!-- Last Name -->
                <div class="lg:col-span-1 md:col-span-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">الاسم الثاني</label>
                    <input type="text" formControlName="lastName" maxlength="20"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full px-2.5 py-4 bg-gray-50/50 dark:bg-gray-600"
                        placeholder="ادخل الاسم الثاني">
                    @if (adminForm.get('lastName')?.touched && adminForm.get('lastName')?.invalid) {
                    @if (adminForm.get('lastName')?.errors?.['required']) {
                    <span class="px-2 text-xs text-red-600 mt-1 block">هذا الحقل مطلوب*</span>
                    }
                    @if (adminForm.get('lastName')?.errors?.['maxlength']) {
                    <span class="px-2 text-xs text-red-600 mt-1 block">يجب أن يكون الاسم صالحاً</span>
                    }
                    }
                </div>

                <!-- Nationality -->
                <div class="lg:col-span-1 md:col-span-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">الجنسية</label>
                    <select formControlName="nationality"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full px-2.5 py-4 bg-gray-50/50 dark:bg-gray-600">
                        <option [ngValue]="null" disabled selected>اختر الجنسية</option>
                        @for (country of countries; track $index) {
                        <option [ngValue]="country">{{country| enum :"nationality"}}</option>
                        }
                    </select>
                    @if (adminForm.get('nationality')?.touched && adminForm.get('nationality')?.invalid) {
                    <span class=" px-2 text-xs text-red-600 mt-1 block">يرجى اختيار الجنسية*</span>
                    }
                </div>

                <!-- Nationality ID -->
                <div class="lg:col-span-1 md:col-span-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">رقم الهوية</label>
                    <input type="text" formControlName="nationalityId" maxlength="30"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full px-2.5 py-4 bg-gray-50/50 dark:bg-gray-600"
                        placeholder="ادخل رقم الهوية">
                    @if (adminForm.get('nationalityId')?.touched && adminForm.get('nationalityId')?.invalid) {
                    @if (adminForm.get('nationalityId')?.errors?.['required']) {
                    <span class="px-2 text-xs text-red-600 mt-1 block">رقم الهوية مطلوب*</span>
                    }
                    @if (adminForm.get('nationalityId')?.errors?.['pattern']) {
                    <span class="px-2 text-xs text-red-600 mt-1 block">يجب أن يتكون رقم الهوية صالحاً</span>
                    }
                    }
                </div>

                <!-- Phone Number -->
                <div class="lg:col-span-1 md:col-span-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">رقم الجوال</label>
                    <input type="text" formControlName="phoneNumber" maxlength="10"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full px-2.5 py-4 bg-gray-50/50 dark:bg-gray-600"
                        placeholder="ادخل رقم الجوال">
                    @if (adminForm.get('phoneNumber')?.touched && adminForm.get('phoneNumber')?.invalid) {
                    @if (adminForm.get('phoneNumber')?.errors?.['required']) {
                    <span class="px-2 text-xs text-red-600 mt-1 block">رقم الجوال مطلوب*</span>
                    }
                    @if (adminForm.get('phoneNumber')?.errors?.['pattern']) {
                    <span class="px-2 text-xs text-red-600 mt-1 block">يجب أن يتكون رقم الجوال من 10 أرقام</span>
                    }
                    }
                </div>

                <!-- Gender -->
                <div class="lg:col-span-1 md:col-span-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">النوع</label>
                    <select formControlName="gender"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full px-2.5 py-4 bg-gray-50/50 dark:bg-gray-600">
                        <option value="null" disabled selected>اختر النوع</option>
                        <option [ngValue]="1">ذكر</option>
                        <option [ngValue]="2">أنثى</option>
                    </select>
                    @if (adminForm.get('gender')?.touched && adminForm.get('gender')?.invalid) {
                    <span class=" px-2 text-xs text-red-600 mt-1 block">يرجى اختيار النوع*</span>
                    }
                </div>


                <div class="lg:col-span-1 md:col-span-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">معرف نظام قيود</label>
                    <input type="number" formControlName="qoyodId" maxlength="40" [readOnly]="!is_admin"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full px-2.5 py-4 bg-gray-50/50 dark:bg-gray-600"
                        [ngClass]="{
                            'focus:ring-primary-600 focus:ring-gray-600': is_admin,
                            'focus:ring-gray-200 focus:border-gray-200 disabled': !is_admin
                         }" placeholder="ادخل معرف نظام قيود">
                    @if (adminForm.get('qoyodId')?.touched && adminForm.get('qoyodId')?.invalid) {
                    <!-- @if (emp_Form.get('qoyodId')?.errors?.['required']) {
                                    <span class="px-2 text-xs text-red-600 mt-1 block">معرف نظام قيود مطلوب*</span>
                                    } -->
                    @if (adminForm.get('qoyodId')?.errors?.['pattern']) {
                    <span class="px-2 text-xs text-red-600 mt-1 block">يجب أن يتكون معرف نظام قيود صالحاً</span>
                    }
                    }
                </div>

                <!-- role -->
                 <!-- @if(is_admin){
                <div class="lg:col-span-1 md:col-span-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> الدور </label>
                    <select formControlName="role"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full px-2.5 py-4 bg-gray-50/50 dark:bg-gray-600">
                        <option value="null" disabled selected>اختر الدور</option>
                        <option [ngValue]="'admin'">مشرف</option>
                        <option [ngValue]="'Employee'">موظف</option>
                    </select>
                    @if (adminForm.get('role')?.touched && adminForm.get('role')?.invalid) {
                    <span class=" px-2 text-xs text-red-600 mt-1 block">يرجى اختيار الدور*</span>
                    }
                </div>
                } -->

            </div>
            <button [disabled]="!adminForm.dirty" (click)="submit_form()" type="submit"
                class="save_changes_btn shared_btn_style secondry_btn" title="إضافة مشرف">
                حفظ التعديلات
                <span><i class="fa-solid fa-check"></i></span>
            </button>




        </form>
    </div>
    }


    @else if (adding_done) {
    <div class="w-full   text-center">
        <h5 class="font-semibold py-20 mb-5 text-green-800 text-[1.8rem]">تم تعديل بيانات المشرف بنجاح <span><i
                    class="fa-solid fa-check"></i></span> </h5>
        <div class="flex justify-center items-center gap-x-8 ">

            <!-- <button (click)="showForm()" class="shared_btn_style secondry_btn" title="اضافة مشرف جديد">
                إضافة جديد
                <span><i class="fa-solid fa-plus"></i></span>
            </button> -->


            <button [routerLink]="['/admin']" class="shared_btn_style thirdry_btn" title="عرض كل المشرفين">
                عرض الكل
                <span><i class="fa-solid fa-home"></i></span>
            </button>

        </div>
    </div> }
</div>