<section class="all_sec">
    <div class="flex justify-between items-center">
        <h4 class="font-bold text-[2.5rem]">الرحلات</h4>
        <div class="flex gap-3">
            @if (current_stage == "all") {
            <button [routerLink]="['./add-new' ]" class="shared_btn_style secondry_btn" title="إضافة موظف">
                إضافة رحلة
                <span><i class="fa-solid fa-plus"></i></span>
            </button>
            <button class="shared_btn_style thirdry_btn" [routerLink]="['/reports']" title="التقارير">
                <span>
                    التقارير
                    <i class="fa-solid fa-arrow-up-from-bracket"></i></span>
                    
                </button>
            }

            @else if (current_stage == "add-new" || current_stage == "edit") {
            <button [routerLink]="['./all-trips']" class="shared_btn_style thirdry_btn" title="إضافة حجز">
                <span><i class="fa-solid fa-home"></i></span>
                عرض الكل
            </button>
            }
        </div>
    </div>


    <router-outlet></router-outlet>



</section>