<section class="pt-5">

    <!-- <h4 class="text-2xl text-center mb-10"> من نحن ؟</h4> -->
    <div class=" flex items-center justify-start">
        <img src="media/Logo.png" alt="">
    </div>

    <div
        class="grid grid-cols-1 md:grid-cols-2 gap-10 hero flex items-center justify-between px-5 sm:px-10 md:px-20  2xl:px-40 ">
        <div class="hero-content">
            <!-- <h1>من نحن</h1> -->
            <h1 class="text-5xl mb-5 leading-[1.2] font-bold">بورصة الدمام لخدمات العمرة والنقليات</h1>
            <p class="text-lg">
                بخبرة أكثر من 25 عامًا في خدمة المعتمرين ، نقدم رحلات مريحة وآمنة لضيوف الرحمن</p>
            <!-- <p>نحن منصة سعودية متخصصة في تنظيم برامج العمرة وتجهيز كل ما يلزم لضيوف الرحمن.</p> -->
        </div>
        <div class="hero-img flex items-center justify-center">
            <img class="w-full h-full object-cover" src="media/about/hero-4img-c.png" alt="">
        </div>
    </div>

    <div class="our-features mt-10 px-5 sm:px-10 md:px-20  2xl:px-40 ">
        <h2 class="feature-header-title">لماذا تختار بورصة الدمام للعمرة؟</h2>
        <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-10">

            <div class="feature-card">
                <div class="feature-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-hand-coins-icon lucide-hand-coins">
                        <path d="M11 15h2a2 2 0 1 0 0-4h-3c-.6 0-1.1.2-1.4.6L3 17" />
                        <path
                            d="m7 21 1.6-1.4c.3-.4.8-.6 1.4-.6h4c1.1 0 2.1-.4 2.8-1.2l4.6-4.4a2 2 0 0 0-2.75-2.91l-4.2 3.9" />
                        <path d="m2 16 6 6" />
                        <circle cx="16" cy="9" r="2.9" />
                        <circle cx="6" cy="5" r="3" />
                    </svg>
                </div>
                <h2 class="feature-title">أفضل الأسعار</h2>
                <p class="feature-description">نضمن لك أسعاراً تنافسية وشفافة بدون أي رسوم خفية طوال التجربة.</p>
            </div>

            <div class="feature-card">
                <div class="feature-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-star-icon lucide-star">
                        <path
                            d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z" />
                    </svg>
                </div>
                <h2 class="feature-title">فِرق متخصصة</h2>
                <p class="feature-description">فريق ميداني وإداري يهتم براحتك من البداية وحتى العودة ويضمن تجاوباً
                    سريعاً.</p>
            </div>

            <div class="feature-card">
                <div class="feature-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-shield-check-icon lucide-shield-check">
                        <path
                            d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z" />
                        <path d="m9 12 2 2 4-4" />
                    </svg>

                </div>
                <h2 class="feature-title">الثقة والأمان</h2>
                <p class="feature-description">خبرة طويلة في تنظيم رحلات العمرة مع التزام كامل بالمعايير النظامية.</p>
            </div>

            <div class="feature-card">
                <div class="feature-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-map-pin-house-icon lucide-map-pin-house">
                        <path
                            d="M15 22a1 1 0 0 1-1-1v-4a1 1 0 0 1 .445-.832l3-2a1 1 0 0 1 1.11 0l3 2A1 1 0 0 1 22 17v4a1 1 0 0 1-1 1z" />
                        <path d="M18 10a8 8 0 0 0-16 0c0 4.993 5.539 10.193 7.399 11.799a1 1 0 0 0 .601.2" />
                        <path d="M18 22v-3" />
                        <circle cx="10" cy="10" r="3" />
                    </svg>
                </div>

                <h2 class="feature-title">وجهات مميزة</h2>
                <p class="feature-description">خيارات إقامة قريبة من الحرم وشركاء فندقيون موثوقون لتجربة راقية.</p>
            </div>

            <div class="feature-card">
                <div class="feature-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1"
                        stroke="currentColor" width="35" height="35">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z" />
                    </svg>
                </div>
                <h2 class="feature-title">حجز سريع</h2>
                <p class="feature-description">خطوات حجز رقمية وبسيطة مع متابعة فورية لحالة الطلب.</p>
            </div>

            <div class="feature-card">
                <div class="feature-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-headset-icon lucide-headset">
                        <path
                            d="M3 11h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-5Zm0 0a9 9 0 1 1 18 0m0 0v5a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3Z" />
                        <path d="M21 16v2a4 4 0 0 1-4 4h-5" />
                    </svg>
                </div>
                <h2 class="feature-title">خدمة راقية</h2>
                <p class="feature-description">دعم متواصل على مدار الساعة لضمان رحلة روحانية مطمئنة.</p>
            </div>

        </div>
    </div>



    <!-- <div class="elementor-section elementor-top-section elementor-element elementor-element-d34eb72 elementor-section-height-min-height elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
        data-id="d34eb72" data-element_type="section"
        data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;,&quot;background_motion_fx_motion_fx_scrolling&quot;:&quot;yes&quot;,&quot;background_motion_fx_translateY_effect&quot;:&quot;yes&quot;,&quot;background_motion_fx_devices&quot;:[&quot;desktop&quot;,&quot;tablet&quot;],&quot;background_motion_fx_translateY_speed&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:4,&quot;sizes&quot;:[]},&quot;background_motion_fx_translateY_affectedRange&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:{&quot;start&quot;:0,&quot;end&quot;:100}}}"
        style="--e-transform-transition-duration: 100ms; width: 1217px; right: 0px;">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-no">
            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-4ec4321 animated-fast animated opal-move-up"
                data-id="4ec4321" data-element_type="column"
                data-settings="{&quot;animation&quot;:&quot;opal-move-up&quot;,&quot;animation_delay&quot;:250}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-7437d1d elementor-view-default elementor-widget elementor-widget-icon"
                        data-id="7437d1d" data-element_type="widget" data-widget_type="icon.default">
                        <div class="elementor-icon-wrapper">
                            <div class="elementor-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                    fill="none">
                                    <circle cx="24" cy="24" r="14" stroke="#FFFFFF" stroke-width="2"></circle>
                                    <circle cx="24" cy="24" r="18" stroke="#FFFFFF" stroke-width="2"
                                        stroke-dasharray="2 4"></circle>
                                    <path d="M22 20H26V28H22V20Z" stroke="#FFFFFF" stroke-width="2"></path>
                                    <path d="M22 20L24 19L26 20" stroke="#FFFFFF" stroke-width="2"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a234b53 elementor-widget elementor-widget-counter"
                        data-id="a234b53" data-element_type="widget" data-widget_type="counter.default">
                        <div class="elementor-counter">
                            <div class="elementor-counter-number-wrapper">
                                <span class="elementor-counter-number-prefix"></span>
                                <span class="elementor-counter-number" data-duration="2000" data-to-value="154"
                                    data-from-value="100" data-delimiter=",">154</span>
                                <span class="elementor-counter-number-suffix"></span>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-c8413a3 elementor-widget elementor-widget-text-editor"
                        data-id="c8413a3" data-element_type="widget" data-widget_type="text-editor.default">
                        <p data-start="1205" data-end="1263">وجهة وفندق تم اختيارها بعناية&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-4629a25 animated-fast animated opal-move-up"
                data-id="4629a25" data-element_type="column"
                data-settings="{&quot;animation&quot;:&quot;opal-move-up&quot;,&quot;animation_delay&quot;:350}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-e53f16d elementor-view-default elementor-widget elementor-widget-icon"
                        data-id="e53f16d" data-element_type="widget" data-widget_type="icon.default">
                        <div class="elementor-icon-wrapper">
                            <div class="elementor-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                    fill="none">
                                    <circle cx="24" cy="24" r="18" stroke="#FFFFFF" stroke-width="2"></circle>
                                    <path d="M20 30V20C20 17.8 21.8 16 24 16C26.2 16 28 17.8 28 20V30" stroke="#FFFFFF"
                                        stroke-width="2"></path>
                                    <rect x="16" y="20" width="16" height="12" rx="2" stroke="#FFFFFF" stroke-width="2">
                                    </rect>
                                    <circle cx="30" cy="12" r="3" stroke="#FFFFFF" stroke-width="2"></circle>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-3032992 elementor-widget elementor-widget-counter"
                        data-id="3032992" data-element_type="widget" data-widget_type="counter.default">
                        <div class="elementor-counter">
                            <div class="elementor-counter-number-wrapper">
                                <span class="elementor-counter-number-prefix"></span>
                                <span class="elementor-counter-number" data-duration="2000" data-to-value="2165"
                                    data-from-value="2100" data-delimiter=",">2,165</span>
                                <span class="elementor-counter-number-suffix"></span>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-7fc1dd5 elementor-widget elementor-widget-text-editor"
                        data-id="7fc1dd5" data-element_type="widget" data-widget_type="text-editor.default">
                        <p>حاج ومعتمر خدمناهم بكل عناية</p>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-f8b5796 animated-fast animated opal-move-up"
                data-id="f8b5796" data-element_type="column"
                data-settings="{&quot;animation&quot;:&quot;opal-move-up&quot;,&quot;animation_delay&quot;:450}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-4d2fc59 elementor-view-default elementor-widget elementor-widget-icon"
                        data-id="4d2fc59" data-element_type="widget" data-widget_type="icon.default">
                        <div class="elementor-icon-wrapper">
                            <div class="elementor-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                    fill="none">
                                    <circle cx="24" cy="24" r="18" stroke="#FFFFFF" stroke-width="2"></circle>
                                    <path d="M20 30V20C20 17.8 21.8 16 24 16C26.2 16 28 17.8 28 20V30" stroke="#FFFFFF"
                                        stroke-width="2"></path>
                                    <rect x="16" y="20" width="16" height="12" rx="2" stroke="#FFFFFF" stroke-width="2">
                                    </rect>
                                    <circle cx="30" cy="12" r="3" stroke="#FFFFFF" stroke-width="2"></circle>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-16f26f4 elementor-widget elementor-widget-counter"
                        data-id="16f26f4" data-element_type="widget" data-widget_type="counter.default">
                        <div class="elementor-counter">
                            <div class="elementor-counter-number-wrapper">
                                <span class="elementor-counter-number-prefix"></span>
                                <span class="elementor-counter-number" data-duration="2000" data-to-value="98"
                                    data-from-value="" data-delimiter=",">98</span>
                                <span class="elementor-counter-number-suffix"></span>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-b4a12fd elementor-widget elementor-widget-text-editor"
                        data-id="b4a12fd" data-element_type="widget" data-widget_type="text-editor.default">
                        <p>رحلة ناجحة على مدار العام</p>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-c27972c animated-fast animated opal-move-up"
                data-id="c27972c" data-element_type="column"
                data-settings="{&quot;animation&quot;:&quot;opal-move-up&quot;,&quot;animation_delay&quot;:550}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-e65e932 elementor-view-default elementor-widget elementor-widget-icon"
                        data-id="e65e932" data-element_type="widget" data-widget_type="icon.default">
                        <div class="elementor-icon-wrapper">
                            <div class="elementor-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                    fill="none">
                                    <circle cx="24" cy="24" r="18" stroke="#FFFFFF" stroke-width="2"></circle>
                                    <path d="M18 22C18 19.7909 19.7909 18 22 18H26C28.2091 18 30 19.7909 30 22"
                                        stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"></path>
                                    <path d="M18 28C19 30 21 31 24 31C27 31 29 30 30 28" stroke="#FFFFFF"
                                        stroke-width="2" stroke-linecap="round"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-8aa9855 elementor-widget elementor-widget-counter"
                        data-id="8aa9855" data-element_type="widget" data-widget_type="counter.default">
                        <div class="elementor-counter">
                            <div class="elementor-counter-number-wrapper">
                                <span class="elementor-counter-number-prefix"></span>
                                <span class="elementor-counter-number" data-duration="2000" data-to-value="117259"
                                    data-from-value="0" data-delimiter=",">117,259</span>
                                <span class="elementor-counter-number-suffix"></span>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-744e9a3 elementor-widget elementor-widget-text-editor"
                        data-id="744e9a3" data-element_type="widget" data-widget_type="text-editor.default">
                        <p>زائر راضٍ عن تجربته معنا</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div
        class="our-stats grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 gap-x-4 gap-y-10 mt-20 py-10 lg:py-0 px-5 sm:px-10 md:px-20  2xl:px-40 ">

        <div class="stat-card">
            <div class="stat-icon">
                <div class="stat-icon-circle mb-0 lg:mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-hotel-icon lucide-hotel">
                        <path d="M10 22v-6.57" />
                        <path d="M12 11h.01" />
                        <path d="M12 7h.01" />
                        <path d="M14 15.43V22" />
                        <path d="M15 16a5 5 0 0 0-6 0" />
                        <path d="M16 11h.01" />
                        <path d="M16 7h.01" />
                        <path d="M8 11h.01" />
                        <path d="M8 7h.01" />
                        <rect x="4" y="2" width="16" height="20" rx="2" />
                    </svg>
                </div>
            </div>
            <h2 class="stat-number">10+</h2>
            <p class="stat-text">شركاء فندقيون موثوقون</p>
        </div>

        <div class="stat-card">
            <div class="stat-icon">
                <div class="stat-icon-circle mb-0 lg:mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-plane-icon lucide-plane">
                        <path
                            d="M17.8 19.2 16 11l3.5-3.5C21 6 21.5 4 21 3c-1-.5-3 0-4.5 1.5L13 8 4.8 6.2c-.5-.1-.9.1-1.1.5l-.3.5c-.2.5-.1 1 .3 1.3L9 12l-2 3H4l-1 1 3 2 2 3 1-1v-3l3-2 3.5 5.3c.3.4.8.5 1.3.3l.5-.2c.4-.3.6-.7.5-1.2z" />
                    </svg>
                </div>
            </div>
            <h2 class="stat-number">149+</h2>
            <p class="stat-text">رحلة ناجحة مع عملائنا</p>
        </div>

        <div class="stat-card">
            <div class="stat-icon">
                <div class="stat-icon-circle mb-0 lg:mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-user-round-check-icon lucide-user-round-check">
                        <path d="M2 21a8 8 0 0 1 13.292-6" />
                        <circle cx="10" cy="8" r="5" />
                        <path d="m16 19 2 2 4-4" />
                    </svg>
                </div>
            </div>
            <h2 class="stat-number">3329+</h2>
            <p class="stat-text">حاج ومعتمر خدمناهم بكل عناية</p>

        </div>

        <div class="stat-card">
            <div class="stat-icon">
                <div class="stat-icon-circle mb-0 lg:mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-award-icon lucide-award">
                        <path
                            d="m15.477 12.89 1.515 8.526a.5.5 0 0 1-.81.47l-3.58-2.687a1 1 0 0 0-1.197 0l-3.586 2.686a.5.5 0 0 1-.81-.469l1.514-8.526" />
                        <circle cx="12" cy="8" r="6" />
                    </svg>
                </div>
            </div>
            <h2 class="stat-number">25+</h2>
            <p class="stat-text">خبرة أكثر من 25 عامًا في خدمة المعتمرين</p>
        </div>


        <div class="overlay"></div>
    </div>

    <div class="our-map grid grid-cols-1 md:grid-cols-2  gap-4 mt-4 lg:mt-20 px-5 sm:px-10 md:px-20  2xl:px-40 ">

        <div class="adress-container py-8">
            <h2 class="text-2xl font-bold mb-4">زورونا الآن في موقعنا</h2>
            <h2 class="text-lg font-bold mb-2 flex items-center gap-1">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-map-pin-icon lucide-map-pin">
                        <path
                            d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                        <circle cx="12" cy="10" r="3" />
                    </svg>
                </span> العنوان :
            </h2>
            <p> طريق الملك فهد - حي ابن خلدون, الدمام, المملكة العربية السعودية </p>
            <h2 class="text-lg font-bold mt-5 mb-1 flex items-center gap-1">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-map-icon lucide-map">
                        <path
                            d="M14.106 5.553a2 2 0 0 0 1.788 0l3.659-1.83A1 1 0 0 1 21 4.619v12.764a1 1 0 0 1-.553.894l-4.553 2.277a2 2 0 0 1-1.788 0l-4.212-2.106a2 2 0 0 0-1.788 0l-3.659 1.83A1 1 0 0 1 3 19.381V6.618a1 1 0 0 1 .553-.894l4.553-2.277a2 2 0 0 1 1.788 0z" />
                        <path d="M15 5.764v15" />
                        <path d="M9 3.236v15" />
                    </svg>
                </span>
                الرابط علي الخريطة :
            </h2>
            <a class="text-red-700 hover:text-red-900 underline" target="_blank"
                href="https://maps.app.goo.gl/YXdXF6zGofvKsYMf9">https://maps.app.goo.gl/YXdXF6zGofvKsYMf9</a>
            <h2 class="text-lg font-bold mt-5 mb-1 flex items-center gap-1">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-phone-call-icon lucide-phone-call">
                        <path d="M13 2a9 9 0 0 1 9 9" />
                        <path d="M13 6a5 5 0 0 1 5 5" />
                        <path
                            d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384" />
                    </svg>
                </span>
                الاتصال بنا :
            </h2>
            <div class="flex items-center gap-4">
                <p> 0506382393 </p>
                <span>-</span>
                <p> 0570103848 </p>
            </div>
        </div>

        <div class="map-container">
            <div id="map" style="height: 400px; width: 100%;"></div>
        </div>

    </div>

    <!-- <div class="our-testimonials px-40 mt-20">
        <div class="testimonials-img">
            <img src="" alt="">
        </div>
        <div class="testimonials-content">
            <p>"رحلة العمرة كانت رحلة روحية ممتعة ورائعة. كانت رحلة العمرة كانت رحلة روحية ممتعة ورائعة. كانت رحلة
                العمرة كانت رحلة روحية ممتعة ورائعة. كانت رحلة العمرة كانت رحلة روحية ممتعة ورائعة."</p>
            <span>محمد أحمد</span> <span>مقيم في الرياض</span>
        </div>
    </div> -->

    <div class="footer px-5 sm:px-0 py-10 lg:py-0 flex flex-col md:flex-row justify-between items-center mt-20 w-full">


        <div class="flex flex-col md:flex-row justify-between items-center w-full gap-10 md:gap-0">

            <div class="our-contact md:w-1/2 text-center">
                <div class="flex items-center w-full justify-center mb-4">
                    <img src="logo-white.png" alt="" class="w-20 h-20 inline-block">
                </div>
                <h2 class=" text-xl md:text-3xl font-bold mb-4">بورصة الدمام لخدمات العمرة و النقليات</h2>
                <p>خبرة أكثر من 25 عامًا في خدمة المعتمرين ✨</p>
                <p>نوفر رحلات مريحة وآمنة لضيوف الرحمن 🤲💙</p>
                <p>هدفنا راحتكم وسعادتكم في رحلتكم المباركة💫</p>
                <p class="pt-3">#خدمة_تميز_راحة</p>
            </div>

            <div class="our-social md:w-1/2 text-center pb-8 md:pb-0">
                <h2 class="text-2xl font-bold mb-4">اتصل بنا</h2>
                <p>نحن هنا لمساعدتك في أي استفسار أو شكوى.</p>
                <div class="social-links py-2">
                    <div class="social-link py-1">
                        <span class="font-bold px-2">
                            <i class="fa-solid fa-phone px-2"></i>
                            عبر الجوال :
                        </span>
                        <a href="https://wa.me/966551234567">+966551234567</a>



                    </div>
                    <div class="social-link py-1">
                        <span class="font-bold px-2">
                            <i class="fa-brands fa-whatsapp px-2"></i>
                            عبر واتساب :
                        </span>
                        <a href="https://wa.me/+966506382393">+966506382393</a>
                    </div>
                </div>
                <p class="font-bold mt-5">تابعنا على وسائل التواصل الاجتماعي : </p>
                <div class="social-icons flex justify-center items-center gap-4 py-4">
                    <a target="_blank" href="https://www.facebook.com/dammamborsa">
                        <div class="footer-icon-circle">
                            <i class="fa-brands fa-facebook-f fa-xl"></i>
                        </div>
                    </a>
                    <a target="_blank" href="https://www.snapchat.com/@borsadmm">
                        <div class="footer-icon-circle">
                            <i class="fa-brands fa-snapchat fa-xl"></i>
                        </div>
                    </a>
                    <a target="_blank" href="https://www.tiktok.com/@dmmborsaumrah">
                        <div class="footer-icon-circle">
                            <i class="fa-brands fa-tiktok fa-xl"></i>

                        </div>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/dammamborsa">
                        <div class="footer-icon-circle">
                            <i class="fa-brands fa-instagram fa-xl"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <!-- أيقونة واتساب عائمة -->
    <a href="https://wa.me/+966506382393" target="_blank" class="whatsapp-float">
        <i class="fa-brands fa-whatsapp"></i>
    </a>

    <!-- <p class="text-center font-light text-white z-10 text-sm absolute bottom-0 left-0 right-0">جميع الحقوق محفوظة © 2025 بورصة الدمام لخدمات العمرة و النقليات</p> -->


</section>