section {
    background-color: rgb(219, 213, 213);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hero {
    position: relative;
    z-index: 1;
    font-family: 'Cairo', sans-serif;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/media/about/mandala-nobackground-wide1.png");
    background-position: center;
    background-repeat: repeat;
    opacity: 0.07;
    z-index: -1;
    background-size: contain;
}

.our-features {
    position: relative;
    z-index: 1;
}

.our-features::before {
    content: '';
    position: absolute;
    top: 0;
    left: -33%;
    right: 0;
    bottom: 0;
    background-image: url("/media/about/mandala-nobackground-wide.png");
    background-position: left;
    background-repeat: no-repeat;
    opacity: 0.03;
    z-index: -1;
    background-size: 100%;
}

.feature-header-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.2rem;
    font-weight: 600;
}

.feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature-title {
    font-family: 'Cairo', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

.feature-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.feature-description {
    font-family: 'Cairo', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin-top: 15px;
}


.our-stats {
    min-height: 400px;
    background-image: url("/media/about/mekka6.jpg");
    background-position: center 70%;
    background-repeat: no-repeat;
    //  opacity: 0.07;
    //  z-index: -1;
    background-size: cover;
    position: relative;
    color: #fff;
    font-family: 'Cairo', sans-serif;
}

.stat-card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-number {
    font-size: 3rem;
    font-weight: bold;
}

.stat-text {
    font-size: 1.2rem;
    font-weight: bold;
}

.stat-icon-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: #000;
    opacity: 0.7;
    transition: background;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    inset: 0;
}

.footer {
    position: relative;
    z-index: 1;
    min-height: 500px;
    color: #fff;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/media/about/background-v.jpg");
    background-position: left;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
}

.footer-icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .2s;

    a i {
        color: #fff !important;
    }

    &:hover {
        background-color: #fff;
        color: #6A0808 !important;

        // a i {
        //     color: #6A0808 !important;
        // }
    }
}


.our-contact p{
    font-family: 'Cairo', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
}
.map-container {
    width: 100%;

    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#map {
    border-radius: 8px;
    height: 400px;
    width: 100%;
}


:host ::ng-deep .leaflet-popup-content-wrapper {
    text-align: center;
}

.whatsapp-float {
    position: fixed;
    /* عشان تفضل ثابتة على الشاشة */
    width: 60px;
    height: 60px;
    bottom: 30px;
    /* المسافة من الأسفل */
    left: 30px;
    /* المسافة من اليمين */
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    /* شكل دائري */
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    /* لتوسيط الأيقونة عموديًا */
    z-index: 100;
    /* فوق أي عناصر تانية */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    /* حركة خفيفة عند hover */
}

.whatsapp-float:hover {
    transform: scale(1.1);
    /* تكبير بسيط عند المرور */
}