a{
    span{
        font-family: 'Cairo', sans-serif;
        font-weight: 700;
    }
}

@media print {
    :host ::ng-deep {
        display: none !important;
    }
}


@media screen and (max-width: 1400px) {
    #logo-sidebar{
        width: 13rem;    
        // font-size: 12px;
    }
}
@media screen and (max-width: 1280px) {
    #logo-sidebar{
        width: 12rem;    
        // font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
    #logo-sidebar{
        width: 10rem;    
        font-size: 12px;
    }
}