<section class="all_sec">
    <div class="flex justify-between items-center">
        <h4 class="font-bold text-[2.5rem]">العملاء</h4>
        <div class="flex gap-3">
            @if (current_stage == "all") {
            <button [routerLink]="['./add-new' ]" (click)="hide_add_new_button()" class="shared_btn_style secondry_btn"
                title="إضافة حجز">
                <span><i class="fa-solid fa-plus"></i></span>
                إضافة عميل
            </button>
            <button (click)="exportLastClientsToExcel()" class="shared_btn_style thirdry_btn" title="تصدير"><span><i
                        class="fa-solid fa-arrow-up-from-bracket"></i></span>تصدير</button>
            }

            @else if (current_stage == "add-new" || current_stage == "edit") {
            <button [routerLink]="['./all-clients']" (click)="show_add_new_button()"
                class="shared_btn_style thirdry_btn" title="إضافة حجز">
                <span><i class="fa-solid fa-home"></i></span>
                عرض الكل
            </button>
            }
        </div>
    </div>





    <router-outlet></router-outlet>





</section>