.user_data,.trip_data {
    border: 1px solid #bbbcbd;
    padding: 15px 10px;
    border-radius: 12px;
}
.group {
    display: flex;
    flex-direction: column;
    gap: 10px
}
label {
    color:  #6e739e;
}


#remaining_cost,#total_paid,#reservation_total_cost{
    // border: 2px solid #132b5f;
    border: 2px solid #878CBD;
}