// .all_reservations_sec {
//     background-color: #F7FAFC;
//     padding: 1.5rem;
// }

.all_reservations_table {
    background-color: #ffffff;
    box-shadow: 0px 4px 20px 0px #EEEEEE80;
    border-radius: 20px;
    padding: 2rem 1rem;
    margin: 2rem 0;
}

.no_reservations {
    height: 300px;
    margin-top: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 12px;
    justify-content: center;
}

.sar-currency {
    font-family: Arial, sans-serif;
    /* تأكد من دعم الخط للرمز */
}


.bg-qiod1 {
    background-color: #021544;
}

.bg-qiod2 {
    background-color: teal;
}

.disabled-btn{
    opacity: 0.5;
    cursor: default;
    &:hover {
        box-shadow: none !important;
    }
}